# Userfile
*.cyprj.*
*.cywrk.*

# Miscellaneous files
*.cycdx
*.gsvd
*.html
*.pdf
*.rpt
*/ComponentUpdateLog.txt
*/BUILD.log
*/REBUILD.log
*/GENERATE_API.log
ComponentUpdateLog.txt
*.csv
*.xlsx
*.txt

# Folders
*codegentemp/
*CortexM0/
*Debug/
*Generated_Source/
*build/
*FatFs/
*TinyGPS-master/

*pruebas.cydsn/
